.sensorChartContainer {
    width: 100%;
}

#sensorChart,
#humidityChart,
#temperatureChart{
    width: 100%;
    height: 350px;
    display: block;
    background-color: #172033;
    border-radius: 50px;
    color: white;
}